body {
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smooting: grayscale;
  background-color: #e7f6ff;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }

  .header__text {
    color: #9d9d9d;
  }

  .header__list-item {
    display: flex;
    align-items: center;
    margin-right: 32px;
    color: #5c5c5c;

    img {
      margin-right: 8px;
    }
  }
}

.content {
  min-height: 77vh;

  h1 {
    margin: 0;
  }
}

.main-cards {
  gap: 60px 40px;

  .cards {
    border: 1px solid #f8f8f8;
    border-radius: 40px;
    padding: 30px;
    width: 215px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    .cards__favorite {
      cursor: pointer;
      position: absolute;
    }

    &:hover {
      box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.06);
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      transform: translateY(-5px);
    }

    .cards__text {
      margin: 14px 0;
      font-size: 14px;
    }

    .card__title-price {
      color: #bdbdbd;
      font-size: 11px;
    }
  }
}

.search__block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 12px;
    right: 10px;
  }

  input {
    border: none;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 420px; //385px default
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    flex: 1;
    overflow: auto;
  }

  h2 {
    margin: 0;
  }

  .cart__item {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    padding: 30px 20px;
    overflow: hidden;

    .cart__item-images {
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: contain;
    }

    p {
      font-size: 16px;
      margin: 0 0 5px 0;
    }

    b {
      font-size: 14px;
    }

    .button__remove {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  .cart__item:last-child {
    align-items: flex-end;
  }
}

.cart__total-block {
  li {
    display: flex;
    align-items: flex-end;

    div {
      position: relative;
      top: -3px;
      margin: 0 8px;
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
    }
  }

  .button__green {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 45px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.button__green {
  width: 100%;
  border-radius: 18px;
  background: #9dd458;
  color: #fff;
  padding: 18px;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.2s ease;

  &:hover {
    background: lighten($color: #9dd458, $amount: 5%);
    transition: background 0.2s ease;
  }

  &:active {
    background: darken($color: #9dd458, $amount: 10%);
  }
}

.cart__empty {
  text-align: center;

  h2 {
    margin: 10px 0 0 0;
  }

  p {
    margin: 10px 0;
    width: 290px;
    line-height: 24px;
    color: #9d9d9d;
  }

  .button__green {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(5px);
      }
    }

    img {
      transform: rotate(180deg);
      margin-right: 25px;
      transition: transform 0.2s ease;
    }
  }
}

.content__favorites {
  gap: 20px;

  .arrow__left {
    padding: 12px 15px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(239, 239, 239);
    }

    &:active {
      background-color: rgb(218, 218, 218);
    }
  }
}
.overlay-open {
  overflow: hidden;
}

.swiper {
  z-index: 0;

  .swiper__inner {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 45px 60px 40px;

    .swiper__inner-content {
      position: absolute;
      left: 61px;
      top: 66px;

      h1 {
        font-size: 38px;

        span {
          color: #8bb43c;
        }
      }

      button {
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        background-color: rgb(165, 211, 100);
        border-radius: 110px;
        padding: 14px 54px;
        text-transform: uppercase;
        transition: background 0.2s ease;

        &:hover {
          background: lighten($color: #9dd458, $amount: 5%);
          transition: background 0.2s ease;
        }

        &:active {
          background: darken($color: #9dd458, $amount: 10%);
        }
      }
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: #777777;
    }
  }
}
